/* Estilos para el título */
.custom__t {
  font-size: 3rem; /* Equivalente a text-2xl en Tailwind */
  line-height: 1em;
  color: white;
  font-family: "Product Sans", sans-serif;
  text-align: center;
}

/* Estilos para el margen superior */
.custom__text__opacity {
  margin-top: 1rem; /* Equivalente a mt-4 en Tailwind */
  opacity: 0.7; /* Equivalente a opacity-70 en Tailwind */
  line-height: 1.3em;
  color: white;
  font-family: "Product Sans", sans-serif;
  text-align: center;
}
.textos{
  text-align: center;
}
.mt__8 {
  margin-top: 2rem/* 32px */;
}
@media screen and (max-width: 768px) {
  .textos{
    text-align: center;
    width: 100%;
  }
  .custom__t{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
}