.footer {
  color: white;
  font-family: "Product Sans", sans-serif;
  width: 100%;
  max-width: 75rem;
  margin: auto;
  padding-top: 0rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 4rem;
}
.mensajeprefooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14rem 0rem;
  /* 14 */
}
.mensajeprefooter__titulo {
  color: white;
  font-size: 9rem;
  font-family: "Product Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .mensajeprefooter__titulo {
    font-size: 3.5rem;
    text-align: center;
    padding: 0rem;
    margin: 0px;
  }
  .footer{
    width: 70%;
    gap: 3rem;
  }
}