.horario {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-family: "Product Sans", sans-serif;
}
.horario__inicio {
  color: #838588;
}
.horario__final {
  color: #5c5d60;
}

@media screen and (max-width: 768px) {
  .horario{
    flex-direction: row;
  }
}