.width__img {
  width: 85%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-radius: 50%;
}

@media (max-width: 768px) {
  .md__img {
    width: 100px;
    margin: auto; /* Esto centra horizontalmente para pantallas pequeñas */
    display: block; /* Asegura que la imagen ocupe todo el ancho disponible */
  }
}