.container {
 animation: reveal 1s ease-in-out forwards, fade-bottom 1s ease-in-out forwards;
}

@keyframes reveal {
 from {
    opacity: 0;
 }
 to {
    opacity: 1;
 }
}

@keyframes fade-bottom {
 from {
    transform: translateY(100%);
 }
 to {
    transform: translateY(0);
 }
}

.active {
 animation-play-state: running;
}

.container {
  width: 91%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.py-12 {
  padding-top: 3rem/* 48px */;
  padding-bottom: 3rem/* 48px */;
}
@media (min-width: 768px) {
  .md\:py-24 {
    padding-top: 6rem/* 96px */;
    padding-bottom: 6rem/* 96px */;
  }
}
.px-4 {
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}