/* Grid Container */
.grid__container {
  width: 90%; /* lg:w-10/12 en Tailwind */
  max-width: 90%; /* xl:w-8/12 en Tailwind */
  display: grid;
  gap: 2rem; /* gap-8 en Tailwind */
}

/* Grid Container para dispositivos medianos (md:grid-cols-[max-content_1fr]) */
@media (min-width: 768px) {
  .grid__container {
    grid-template-columns: max-content 1fr;
    max-width: 88%;
    gap: 4rem; /* md:gap-16 en Tailwind */
  }
}

@media (min-width: 1024px) {
  .grid__lg {
    width: 83.333333%;
  }
}
@media (min-width: 1280px) {
  .grid__xl {
    width: 66.666667%;
  }
}
.grid {
  display: grid;
}
.gap__8 {
  gap: 2rem/* 32px */;
}
@media (min-width: 768px) {
  .gap__md {
    gap: 4rem/* 64px */;
  }
}
@media (min-width: 768px) {
  .md__grid {
    grid-template-columns: max-content 1fr;
  }
}