.sponsors {
  color: white;
  font-family: "Product Sans", sans-serif;
  width: 100%;
  max-width: 75rem;
  margin: auto;
}
.sponsors__titulo {
  font-size: 5rem;
  text-align: center;
}
.sponsors__texto {
  margin-top: 2rem;
  text-align: center;
  color: #c0c2c5;
  margin-bottom: 2rem;
}
.sponsors__container {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
