iframe {
  border-radius: 25px; /* Ajusta el valor según el grado de redondeo deseado */
}
/* CSS Puro */
.mapa__component {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: center;
}

.md\:mt-12 {
  margin-top: 3rem; /* El valor md:mt-12 en Tailwind CSS se traduce a 3rem */
}

.lg\:w-10\/12 {
  width: 83.33%; /* El valor lg:w-10/12 en Tailwind CSS se traduce a 83.33% */
}

.md\:h-320 {
  height: 320px; /* Altura fija de 320px para pantallas medianas (md) */
}

.lg\:h-400 {
  height: 400px; /* Altura fija de 400px para pantallas grandes (lg) */
}
