.logo {
  width: 100%;
}

.logo__texto {
  margin-top: 2rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  opacity: 0.6;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .logo__imagen{
    width: 40%;
    
  }.logo__texto{
    line-height: 1rem;
    font-size: 1.0rem;
  }
}
