.width__img {
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-radius: 5%;
  border: 3px solid white;
}

@media (max-width: 768px) {
  .md__img {
    /* width: 100px; */
    margin: auto; /* Esto centra horizontalmente para pantallas pequeñas */
    display: block; /* Asegura que la imagen ocupe todo el ancho disponible */
  }
}