body {
  background-color: #1e1d1d;
}
/* Hacer el fondo transparente */
::-webkit-scrollbar {
  background-color: #1e1d1d;
}

/* Cambiar el color del thumb (la barra de desplazamiento) a negro */
::-webkit-scrollbar-thumb {
  background-color: #fdd46dbd;
  border-radius: 2rem;
}

.contenedor__efecto {
  padding-top: 6rem;
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  .contenedor__efecto {
    width: 100%;
    margin: auto;
  }
}
